/*Styling for lists (ol and ul)
These were just added for some tweaking trying to get the lists in the page to look the way we wanted them to*/



ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
  /*This is the code for that pale green colour*/
  color: #A8BF75;
}

ol, ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

li {
  line-height: 18px;
}